:root {
  --background-colour: #121212;
  --contrast-colour: #ffffff;
  --primary-colour: #036e63;
}

body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  color: var(--contrast-colour);
  background-color: var(--background-colour);
}

#grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#grid > div {
  min-width: 3em;
  min-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--contrast-colour);
  border-radius: 1em;
  font-size: 3.5rem;
  background-color: var(--primary-colour);
}

#grid > div:hover {
  opacity: 0.75;
  cursor: pointer;
}
